%menu-hamburguesa {
    background-color: #060A24;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

$breakpoint-xlg: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 760px;
$breakpoint-sm: 600px;

@mixin respond-to($medias...) {
    @each $media in $medias {
        @if $media == xlg-screen {
            @media screen and (min-width: $breakpoint-xlg) { @content; }
        }
        @else if $media == desktop-screen {
            @media (min-width: $breakpoint-lg) { @content; }
        }
        @else if $media == tablet-screen {
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
        }
        @else if $media == mobile-screen {
            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
        }
    }
}%menu-hamburguesa {
    background-color: black;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
}

$breakpoint-xlg: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 760px;
$breakpoint-sm: 600px;

@mixin respond-to($medias...) {
    @each $media in $medias {
        @if $media == xlg-screen {
            @media screen and (min-width: $breakpoint-xlg) { @content; }
        }
        @else if $media == desktop-screen {
            @media (min-width: $breakpoint-lg) { @content; }
        }
        @else if $media == tablet-screen {
            @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
        }
        @else if $media == mobile-screen {
            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
        }
    }
}