@import "utilities";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Overrides must match specificity of pre-loaded styles!*/
/*The simplest way to get the selector is with devtools*/
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #f8e4e4;
  
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  transition: opacity 1s ease-in;
  opacity: .3;
}

#fp-nav ul li .fp-tooltip{
  background-color: rgba(6, 10, 36, 0.445);
  color: #f9f9f9;
  padding: .3rem;
  border-radius: 15px;
}

.section{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond-to(desktop-screen, xlg-screen){
    padding: 0 15%
  }

  #home{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    @include respond-to(tablet-screen, desktop-screen, xlg-screen){
      align-items: center;  
    }
  }

  .dates{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: left;
    margin: 3rem 0;
    @include respond-to(tablet-screen){
      margin: 5rem 0 0 2rem;
    }
    @include respond-to(tablet-screen ,desktop-screen, xlg-screen){
      width: 50%;
      justify-content: flex-start;
    }
    @include respond-to(desktop-screen, xlg-screen){
      margin: unset;
    }
    .name{
      color: #FF7F7F;
      font-size: 2.3rem;
      text-transform: capitalize;
      width: 50%;
      max-width: 250px;
      @include respond-to(desktop-screen, xlg-screen){
        margin-left: 1rem;
      }
    }
    .line-between{
      content: "";
      display: block;
      margin: 2rem 0;
      border-right: 2px dotted #060A24;
    }
    .other-dates{
      display: flex;
      flex-direction: column;
      align-self: center;
      font-weight: 600;
      color: #060A24;
      width: 30%;
      margin: 1rem;
      @include respond-to(desktop-screen, xlg-screen){
          align-self: center;
      }
    }
  }
  .welcome-image{
    width: 100%;
    @include respond-to(tablet-screen, desktop-screen, xlg-screen){
      width: 50%;
      min-width: 400px;
    }
  }
  .title-section{
    width: 100%;
    text-transform: capitalize;
    font-size: 2rem;
    padding: 2rem;
    color: #060A24;
  }
  .p{
    padding: 1rem 0;
    color: #060A24;
    @include respond-to(desktop-screen, xlg-screen){
        width: 50%;
    }
  }
  .about-text{
    padding: .7rem;
    width: 100%;
  }
  .width{
      width: 100%;
  }
  .introduction{
      padding-bottom: 2rem;
      color: #060A24;
  }
}

.skills-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.image-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 20%;
  max-width: 170px;
  // background-color: #FFFFFF;
  border-radius: 10px;
  // box-shadow: 0 2px 5px 2px rgb(202, 202, 202);
  margin: .5rem 1rem;
  padding: 1rem;
  @include respond-to(desktop-screen, xlg-screen) {
    cursor: pointer;
    position: relative;
    &:Hover{
      box-shadow: inset 5px 5px 10px 0px rgba(151, 151, 151, 0.55);
      .star{
        display: flex;
        position: absolute;
      }
    }
  }
  .tech-icon{
    height: 3rem;
    @include respond-to(tablet-screen,desktop-screen, xlg-screen) {
      height: 4rem;
    }
  }
  .image-txt{
    color: #060A24;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .6rem;
    padding: 1rem 0 0 0;
  }
  .star{
    display: none;
    background: linear-gradient(-180deg, rgba(255,255,255,0.5) 0%, rgba(249,249,249,0.5) 100%);
    border-radius: 10px;
    width: 100%;
    max-width: 170px;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.7rem;
  }
    
  .react-rater-star{
      color: rgb(212, 211, 211);
  }
    
  .react-rater-star.is-active{
      color: #060A24;
  }
}

.project-ctn{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .project-image{
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px rgba(6, 10, 36, 0.384);
  }
  .caption-project{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .project-link{
      text-decoration: none;
      color: #060A24;
      font-size: 1rem;
      margin: 1rem 0 1rem 0;
      &:hover{
        transform: translate(-1px, -2px);
      }
      .title{
        display: inline-block;
        text-transform: capitalize; 
        font-size: 1rem;
        color: #060A24;
        @include respond-to(desktop-screen, xlg-screen){
          font-size: 1.4rem;
        }
      }
      .icon-link-out{
        cursor: pointer;
        width: 1.2rem;
        margin: .2rem .2rem 0 .2rem;
      }
    }
    .parrafo{
      color: #060A24;
      width: max-content;
      font-size: 1rem;
      padding: 1rem;
    } 
  }
  
}

.contact-btn{
  cursor: pointer;
  background-color: #060A24;
  border: none;
  width: 10rem;
  padding: .8rem;
  border-radius: 25px;
  margin: 2rem 0;
  @include respond-to(xlg-screen){
    width: 13rem;
  }
  .email{
      text-decoration: none;
      color: #FFFFFF;
      font-size: .9rem;
      font-weight: 700;
  }
  &:hover{
    box-shadow: 1px 1px 5px 2px rgba(170, 170, 170, 0.603);
  }
}

.social-networks{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  .btn{
    cursor: pointer;
    width: 3rem;
    background: none;
    border: 1px solid #060A24;
    border-radius: 25px;
    padding: .7rem 0;
    margin: 0 .8rem;
    .network-link{
      color: #060A24;
      .fa-linkedin-in, .fa-github{
          font-size: 1.5rem;
      }
    }
  }
}

.footer{
  width: 100%;
  margin: 3rem 0;
  &:before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    border-bottom: 2px dotted #060A24;
    opacity: .5;
  }
  .p{
    color: #060A24;
    font-size: .8rem;
    .icon{
      width: .7rem;
    }
  }
}







