* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Overrides must match specificity of pre-loaded styles!*/
/*The simplest way to get the selector is with devtools*/
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #f8e4e4;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: .3;
}

#fp-nav ul li .fp-tooltip {
  background-color: rgba(6, 10, 36, 0.445);
  color: #f9f9f9;
  padding: .3rem;
  border-radius: 15px;
}

.section {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .section {
    padding: 0 15%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 0 15%;
  }
}

.section #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .section #home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .section #home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .section #home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section .dates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin: 3rem 0;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .section .dates {
    margin: 5rem 0 0 2rem;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .section .dates {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .section .dates {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .section .dates {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .section .dates {
    margin: unset;
  }
}

@media screen and (min-width: 1440px) {
  .section .dates {
    margin: unset;
  }
}

.section .dates .name {
  color: #FF7F7F;
  font-size: 2.3rem;
  text-transform: capitalize;
  width: 50%;
  max-width: 250px;
}

@media (min-width: 1024px) {
  .section .dates .name {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .section .dates .name {
    margin-left: 1rem;
  }
}

.section .dates .line-between {
  content: "";
  display: block;
  margin: 2rem 0;
  border-right: 2px dotted #060A24;
}

.section .dates .other-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  color: #060A24;
  width: 30%;
  margin: 1rem;
}

@media (min-width: 1024px) {
  .section .dates .other-dates {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 1440px) {
  .section .dates .other-dates {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.section .welcome-image {
  width: 100%;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .section .welcome-image {
    width: 50%;
    min-width: 400px;
  }
}

@media (min-width: 1024px) {
  .section .welcome-image {
    width: 50%;
    min-width: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .section .welcome-image {
    width: 50%;
    min-width: 400px;
  }
}

.section .title-section {
  width: 100%;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 2rem;
  color: #060A24;
}

.section .p {
  padding: 1rem 0;
  color: #060A24;
}

@media (min-width: 1024px) {
  .section .p {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .section .p {
    width: 50%;
  }
}

.section .about-text {
  padding: .7rem;
  width: 100%;
}

.section .width {
  width: 100%;
}

.section .introduction {
  padding-bottom: 2rem;
  color: #060A24;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 0 0;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  max-width: 170px;
  border-radius: 10px;
  margin: .5rem 1rem;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .image-container {
    cursor: pointer;
    position: relative;
  }
  .image-container:Hover {
    -webkit-box-shadow: inset 5px 5px 10px 0px rgba(151, 151, 151, 0.55);
            box-shadow: inset 5px 5px 10px 0px rgba(151, 151, 151, 0.55);
  }
  .image-container:Hover .star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
}

@media screen and (min-width: 1440px) {
  .image-container {
    cursor: pointer;
    position: relative;
  }
  .image-container:Hover {
    -webkit-box-shadow: inset 5px 5px 10px 0px rgba(151, 151, 151, 0.55);
            box-shadow: inset 5px 5px 10px 0px rgba(151, 151, 151, 0.55);
  }
  .image-container:Hover .star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
}

.image-container .tech-icon {
  height: 3rem;
}

@media (min-width: 760px) and (max-width: 1024px) {
  .image-container .tech-icon {
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  .image-container .tech-icon {
    height: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .image-container .tech-icon {
    height: 4rem;
  }
}

.image-container .image-txt {
  color: #060A24;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .6rem;
  padding: 1rem 0 0 0;
}

.image-container .star {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(249, 249, 249, 0.5)));
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(249, 249, 249, 0.5) 100%);
  border-radius: 10px;
  width: 100%;
  max-width: 170px;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.7rem;
}

.image-container .react-rater-star {
  color: #d4d3d3;
}

.image-container .react-rater-star.is-active {
  color: #060A24;
}

.project-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-ctn .project-image {
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px 3px rgba(6, 10, 36, 0.384);
          box-shadow: 5px 5px 20px 3px rgba(6, 10, 36, 0.384);
}

.project-ctn .caption-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.project-ctn .caption-project .project-link {
  text-decoration: none;
  color: #060A24;
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
}

.project-ctn .caption-project .project-link:hover {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
}

.project-ctn .caption-project .project-link .title {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1rem;
  color: #060A24;
}

@media (min-width: 1024px) {
  .project-ctn .caption-project .project-link .title {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .project-ctn .caption-project .project-link .title {
    font-size: 1.4rem;
  }
}

.project-ctn .caption-project .project-link .icon-link-out {
  cursor: pointer;
  width: 1.2rem;
  margin: .2rem .2rem 0 .2rem;
}

.project-ctn .caption-project .parrafo {
  color: #060A24;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  padding: 1rem;
}

.contact-btn {
  cursor: pointer;
  background-color: #060A24;
  border: none;
  width: 10rem;
  padding: .8rem;
  border-radius: 25px;
  margin: 2rem 0;
}

@media screen and (min-width: 1440px) {
  .contact-btn {
    width: 13rem;
  }
}

.contact-btn .email {
  text-decoration: none;
  color: #FFFFFF;
  font-size: .9rem;
  font-weight: 700;
}

.contact-btn:hover {
  -webkit-box-shadow: 1px 1px 5px 2px rgba(170, 170, 170, 0.603);
          box-shadow: 1px 1px 5px 2px rgba(170, 170, 170, 0.603);
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.social-networks .btn {
  cursor: pointer;
  width: 3rem;
  background: none;
  border: 1px solid #060A24;
  border-radius: 25px;
  padding: .7rem 0;
  margin: 0 .8rem;
}

.social-networks .btn .network-link {
  color: #060A24;
}

.social-networks .btn .network-link .fa-linkedin-in, .social-networks .btn .network-link .fa-github {
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  margin: 3rem 0;
}

.footer:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80%;
  border-bottom: 2px dotted #060A24;
  opacity: .5;
}

.footer .p {
  color: #060A24;
  font-size: .8rem;
}

.footer .p .icon {
  width: .7rem;
}
/*# sourceMappingURL=styles.css.map */